
@{
    ViewBag.Title = "DSThietBi";
}

<style>
    .main-footer {
        flex-shrink: 0;
        background-color: #ddeeff;
        width: 100%;
        height: 40px;
        position: fixed;
        bottom: 0;
        left: 0;
        font-size: small;
    }
</style>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Danh sách  thiết bị</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="#">Thiết bị</a></li>
                        <li class="breadcrumb-item active">Danh sách thiết bị</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Bàn ghế: Bàn Gaming GT Series Z003 | Chữ Z, chân đen
                        <span class="badge rounded-pill">số lượng:6</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Laptop: Dell XPS 15
                        <span class="badge rounded-pill">số lượng:6</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Máy điều hòa: LG DUALCOOL™Inverter 1 chiều 9.000 BTU (1HP)|V10APFP
                        <span class="badge rounded-pill">số lượng:2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Màn hình: ASUS TUF GAMING VG27AQ3A
                        <span class="badge rounded-pill">số lượng:1</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->


